*.env
docker.mk
README-docker.md
.git

# From .gitignore
auto/*
.cache
test/.cache
*.aux
*.log
*.out
*.toc
test/tmp
*~
develop-eggs
dist
src/*.egg-info
tags
build
eggs
htmlcov
.coverage
.mypy_cache
*.fdb_latexmk
test/data/*.mk
test/expected/*.mk
