*.env
docker.mk
README-docker.md

# From .gitignore
auto/*
.cache
test/.cache
*.aux
*.log
*.out
*.toc
test/tmp
*~
develop-eggs
dist
src/*.egg-info
tags
build
eggs
htmlcov
.coverage
.mypy_cache
.miktex
.depend
*.fdb_latexmk
