# Dockerfile related
.dockerignore
Dockerfile

# docker.mk related
*.env
docker.mk
README-docker.md

# Git related
.git
.gitignore

# From .gitignore
**/__pycache__
**/*.egg-info
auto/*
**/.cache
*.aux
*.log
*.out
*.toc
*~
**/develop-eggs
dist
tags
build
eggs
htmlcov
.coverage
.mypy_cache
**/*.fdb_latexmk
test/data/*.mk
test/expected/example?.mk
test/expected/include.mk

