*.pdf
*.pyc
auto/*
.cache/v/cache/lastfailed
test/.cache/v/cache/lastfailed
*.aux
*.log
*.out
*.toc
test/tmp/*
*~
src/bml/auto/bml.el
develop-eggs
dist
src/*.egg-info
tags
build
eggs
htmlcov
.coverage
.mypy_cache
.miktex
.depend
*.fdb_latexmk
test/data/*.mk
test/expected/*.mk
